[Unit]
Description=Description=Moves JPG image files periodically from source to destination
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/random-image-sender.sh -r
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
